server:
  port: 2333

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    trackStuckThresholdMs: 10000
    useSeekGhosting: true
    resamplingQuality: HIGH

logging:
  file:
    path: ./logs/
  level:
    root: INFO
